[Spark API Roadmap / Cheatsheet](https://zgul.de/teaching/spark-api)

# Spark API Mini Exercises
Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

`import pandas as pd
import numpy as np`

`np.random.seed(13)`

`pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})`

### 1. Spark Dataframe Basics

#### i. Use the starter code above to create a pandas dataframe.

#### ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

#### iii. Show the first 3 rows of the dataframe.

#### iv. Show the first 7 rows of the dataframe.

#### v. View a summary of the data using `.describe`.

#### vi. Use `.select` to create a new dataframe with just the `n` and `abool` columns. View the first 5 rows of this dataframe.

#### vii. Use `.select` to create a new dataframe with just the `group` and `abool` columns. View the first 5 rows of this dataframe.

#### viii. Use `.select` to create a new dataframe with the `group` column and the `abool` column renamed to `a_boolean_value`. Show the first 3 rows of this dataframe.

#### ix. Use `.select` to create a new dataframe with the `group` column and the `n` column renamed to `a_numeric_value`. Show the first 6 rows of this dataframe.

### 2. Column Manipulation

#### i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a variable named `df`.

#### ii. Use `.select` to add 4 to the `n` column. Show the results.

#### iii. Subtract 5 from the `n` column and view the results.

#### iv. Multiply the `n` column by 2. View the results along with the original numbers.

#### v. Add a new column named `n2` that is the `n` value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original `n` value as well as `n2`.

#### vi. Add a new column named `n3` that is the n value squared. Show the first 5 rows of your dataframe. You should see both `n`, `n2`, and `n3`.

#### vii. What happens when you run the code below?

`df.group + df.abool`

#### viii. What happens when you run the code below? What is the difference between this and the previous code sample?

`df.select(df.group + df.abool)`

#### ix. Try adding various other columns together. What are the results of combining the different data types?