[Spark API Roadmap / Cheatsheet](https://zgul.de/teaching/spark-api)

In [1]:
#pyspark library
import pyspark

#creating spark object (necessary to creating spark dfs)
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [2]:
#fancy nice html representation
spark

In [3]:
import pandas as pd
import pydataset

## DataFrame Basics

In [4]:
#loading tips dataset from pydataset
tips = pydataset.data('tips')

#spark doesn't load any data until it has to
df = spark.createDataFrame(tips)
df

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [5]:
#load data w/ .show()
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [6]:
#pass a number in
df.show(10)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 10 rows

In [7]:
#common mistake
df2 = df.show(10)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 10 rows

In [8]:
#reassigning gives back nothing
df2

In [9]:
#.show() is like a print statement, it doesn't return anything
# Don't reassign to a variable
#.show() is just to view contents
type(df2)

NoneType

In [10]:
#work with values in the df
df.head(5)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)]

In [11]:
#show row contents
df.head(5)[0]

Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)

In [12]:
#show value for tip
df.head(5)[0].tip

1.01

In [13]:
#pull specific columns w/ .select and pass col names you want
df.select('total_bill', 'tip', 'size', 'day')
#specified a transformation, and not an action (that is why we don't see anything b/c you need .show())

DataFrame[total_bill: double, tip: double, size: bigint, day: string]

In [14]:
#show values
df.select('total_bill', 'tip', 'size', 'day').show()

+----------+----+----+---+
|total_bill| tip|size|day|
+----------+----+----+---+
|     16.99|1.01|   2|Sun|
|     10.34|1.66|   3|Sun|
|     21.01| 3.5|   3|Sun|
|     23.68|3.31|   2|Sun|
|     24.59|3.61|   4|Sun|
|     25.29|4.71|   4|Sun|
|      8.77| 2.0|   2|Sun|
|     26.88|3.12|   4|Sun|
|     15.04|1.96|   2|Sun|
|     14.78|3.23|   2|Sun|
|     10.27|1.71|   2|Sun|
|     35.26| 5.0|   4|Sun|
|     15.42|1.57|   2|Sun|
|     18.43| 3.0|   4|Sun|
|     14.83|3.02|   2|Sun|
|     21.58|3.92|   2|Sun|
|     10.33|1.67|   3|Sun|
|     16.29|3.71|   3|Sun|
|     16.97| 3.5|   3|Sun|
|     20.65|3.35|   3|Sat|
+----------+----+----+---+
only showing top 20 rows

In [15]:
#like sql, get back every col
df.select('*')

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [16]:
#reference col name (spark col object), but no data
df.tip

Column<'tip'>

In [17]:
#tip percentage
df.tip / df.total_bill
#syntax looks like pandas, but result is different
#the column represents the transformation, but isn't full of values

Column<'(tip / total_bill)'>

In [18]:
#specify w/ .select () and .show() to show results
df.select(df.tip / df.total_bill).show(5)

+-------------------+
| (tip / total_bill)|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
+-------------------+
only showing top 5 rows

In [19]:
#take expressions and store in a new col
col = df.tip / df.total_bill
col
#holds expression that represents new col, but no data

Column<'(tip / total_bill)'>

In [20]:
#see what we end up with and make modifications
df.select(col).show(5)
#by default, name of col, is the operation that was performed
#so add alias (transforms column)

+-------------------+
| (tip / total_bill)|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
+-------------------+
only showing top 5 rows

In [21]:
#using .alias to rename col
df.select(col.alias('tip_pct')).show(5)

+-------------------+
|            tip_pct|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
+-------------------+
only showing top 5 rows

In [22]:
#add new col to df by doing .select('*', new_col.alias('new_col_name'))
df.select("*", col.alias('tip_pct')).show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

In [23]:
#the df is not modified b/c it was not reassigned
df.show(2)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 2 rows

In [24]:
#to get df w/ tip percentage, we have to assign to variable
df_with_tip_pct = df.select("*", col.alias('tip_pct')).show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

## Transforming Columns

In [25]:
from pyspark.sql.functions import sum, mean, concat

#### Built-In Functions

In [26]:
#use built in functions to apply them to cols
df.select(mean(df.tip), sum(df.total_bill)).show()

+----------------+-----------------+
|        avg(tip)|  sum(total_bill)|
+----------------+-----------------+
|2.99827868852459|4827.769999999999|
+----------------+-----------------+

In [27]:
#concatenate text from multiple strings together
df.select(concat('day', 'time')).show(5)

+-----------------+
|concat(day, time)|
+-----------------+
|        SunDinner|
|        SunDinner|
|        SunDinner|
|        SunDinner|
|        SunDinner|
+-----------------+
only showing top 5 rows

In [28]:
#above doesn't look like good format, need to add space character
df.select(concat('day', ' ' 'time')).show(5)
#used to concating w/ space character, but we get error 
#b/c concat func is trying to resolve everything past it as a name of a col in the df

AnalysisException: cannot resolve '` time`' given input columns: [day, sex, size, smoker, time, tip, total_bill];
'Project [concat(day#4, ' time) AS concat(day,  time)#295]
+- LogicalRDD [total_bill#0, tip#1, sex#2, smoker#3, day#4, time#5, size#6L], false

In [29]:
#for literal (lit) function, needs import
from pyspark.sql.functions import lit

In [30]:
#use .lit() and it'll show proper format w/ literal space character
df.select(concat('day', lit(' '), 'time')).show(5)

+--------------------+
|concat(day,  , time)|
+--------------------+
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
+--------------------+
only showing top 5 rows

#### Type Casting

In [31]:
#similar to type casting
df.tip.cast('string')
#gives back col object that represents the transformation specified

Column<'CAST(tip AS STRING)'>

In [32]:
#apply to df w/ .select()
df.select(df.tip.cast('string'))

DataFrame[tip: string]

In [33]:
#view results w/ .show()
df.select(df.tip.cast('string')).show()

+----+
| tip|
+----+
|1.01|
|1.66|
| 3.5|
|3.31|
|3.61|
|4.71|
| 2.0|
|3.12|
|1.96|
|3.23|
|1.71|
| 5.0|
|1.57|
| 3.0|
|3.02|
|3.92|
|1.67|
|3.71|
| 3.5|
|3.35|
+----+
only showing top 20 rows

In [34]:
#now, try doing this to string value and cast to integer, gives back nulls
df.select(df.time.cast('int')).show()
#nulls are like numpy.nan or python None, to indicate absence of a value
#theres no error, like we're used to, spark just converts to 'null'

+----+
|time|
+----+
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
+----+
only showing top 20 rows

#### String Manipulation

In [35]:
#string manipulation w/ regex
#apply to every value in a col
from pyspark.sql.functions import regexp_extract, regexp_replace

In [36]:
#extract pieces of a col (the first thing from time col)
df.select(
    regexp_extract('time', r'(\w).*', 1)
).show(5)                   #first alphanumeric char, 1 to get contents of first capture group

+-------------------------------+
|regexp_extract(time, (\w).*, 1)|
+-------------------------------+
|                              D|
|                              D|
|                              D|
|                              D|
|                              D|
+-------------------------------+
only showing top 5 rows

In [37]:
#add alias
df.select(
    regexp_extract('time', r'(\w).*', 1).alias('first_letter')
).show(5)

+------------+
|first_letter|
+------------+
|           D|
|           D|
|           D|
|           D|
|           D|
+------------+
only showing top 5 rows

In [38]:
#add in original time col
df.select(
    'time',
    regexp_extract('time', r'(\w).*', 1).alias('first_letter')
).show(5)

+------+------------+
|  time|first_letter|
+------+------------+
|Dinner|           D|
|Dinner|           D|
|Dinner|           D|
|Dinner|           D|
|Dinner|           D|
+------+------------+
only showing top 5 rows

In [39]:
#use regexp_replace (like re.sub or .str.replace in pandas)
df.select(
    'time',
    regexp_extract('time', r'(\w).*', 1).alias('first_letter'),
    regexp_replace('time', r'[aeiou]', 'X')
).show(5)                #replace any of the vowels w/ a capital X

+------+------------+-----------------------------------+
|  time|first_letter|regexp_replace(time, [aeiou], X, 1)|
+------+------------+-----------------------------------+
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
+------+------------+-----------------------------------+
only showing top 5 rows

#### when and otherwise

In [40]:
#like case... when in sql
#or like np.where (when it meets this condition, then do one thing)
#or like if function in excel
from pyspark.sql.functions import when

In [41]:
#modify df so that it now contains tip_pct col
df = df.select(
    '*',
    (df.tip / df.total_bill).alias('tip_pct')
)
#adds tip percentage column
df

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint, tip_pct: double]

In [42]:
#now select everything 
#and when the tip_pct is greater than .2, then say 'Good tip'
#otherwise, say 'not good tip'
df.select(
    '*', 
    when(df.tip_pct > .2, 'Good Tip').otherwise('Not Good Tip')
).show(5)

+----------+----+------+------+---+------+----+-------------------+-------------------------------------------------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|CASE WHEN (tip_pct > 0.2) THEN Good Tip ELSE Not Good Tip END|
+----------+----+------+------+---+------+----+-------------------+-------------------------------------------------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|                                                 Not Good Tip|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|                                                 Not Good Tip|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|                                                 Not Good Tip|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|                                                 Not Good Tip|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|                                                 Not Good Tip|
+----------+----+------+------+---+------+----+-------------------+-------------------------------------------------------------+
only showing top 5 rows

In [44]:
#to clean up above output, add alias to when/otherwise statement
#and don't select everything, just tip_pct col instead of everything
df.select(
    'tip_pct', 
    (when(df.tip_pct > .2, 'Good Tip').otherwise('Not Good Tip')).alias('tip_description')
).show(10)

+-------------------+---------------+
|            tip_pct|tip_description|
+-------------------+---------------+
|0.05944673337257211|   Not Good Tip|
|0.16054158607350097|   Not Good Tip|
|0.16658733936220846|   Not Good Tip|
| 0.1397804054054054|   Not Good Tip|
|0.14680764538430255|   Not Good Tip|
|0.18623962040332148|   Not Good Tip|
|0.22805017103762829|       Good Tip|
|0.11607142857142858|   Not Good Tip|
|0.13031914893617022|   Not Good Tip|
| 0.2185385656292287|       Good Tip|
+-------------------+---------------+
only showing top 10 rows

# Spark API Mini Exercises
Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

`import pandas as pd
import numpy as np`

`np.random.seed(13)`

`pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})`

### 1. Spark Dataframe Basics

#### i. Use the starter code above to create a pandas dataframe.

#### ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

#### iii. Show the first 3 rows of the dataframe.

#### iv. Show the first 7 rows of the dataframe.

#### v. View a summary of the data using `.describe`.

#### vi. Use `.select` to create a new dataframe with just the `n` and `abool` columns. View the first 5 rows of this dataframe.

#### vii. Use `.select` to create a new dataframe with just the `group` and `abool` columns. View the first 5 rows of this dataframe.

#### viii. Use `.select` to create a new dataframe with the `group` column and the `abool` column renamed to `a_boolean_value`. Show the first 3 rows of this dataframe.

#### ix. Use `.select` to create a new dataframe with the `group` column and the `n` column renamed to `a_numeric_value`. Show the first 6 rows of this dataframe.

### 2. Column Manipulation

#### i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a variable named `df`.

#### ii. Use `.select` to add 4 to the `n` column. Show the results.

#### iii. Subtract 5 from the `n` column and view the results.

#### iv. Multiply the `n` column by 2. View the results along with the original numbers.

#### v. Add a new column named `n2` that is the `n` value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original `n` value as well as `n2`.

#### vi. Add a new column named `n3` that is the n value squared. Show the first 5 rows of your dataframe. You should see both `n`, `n2`, and `n3`.

#### vii. What happens when you run the code below?

`df.group + df.abool`

#### viii. What happens when you run the code below? What is the difference between this and the previous code sample?

`df.select(df.group + df.abool)`

#### ix. Try adding various other columns together. What are the results of combining the different data types?